html {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  box-sizing: border-box;
  background: url('../images/oh-la-la.jpg') center no-repeat;
  background-size: cover;
  font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
  text-align: center;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

h2 {
  margin: 0;
  font-weight: 200;
  text-align: center;
}

svg {
  fill: white;
  width: 200px;
  margin-bottom: 50px;
  padding: 20px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.1);
}

.wrapper {
  max-width: 350px;
  padding: 20px;
  box-shadow: 0 0 0 10px rgba(0, 0, 0, 0.1);
  background: rgba(255, 255, 255, 0.95);
}

.plates {
  margin: 0;
  padding: 0;
  text-align: left;
  list-style: none;
}
.plates li {
  display: flex;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding: 10px 0;
  font-weight: 100;
}
.plates label {
  flex: 1;
  cursor: pointer;
}
.plates input {
  display: none;
}
.plates input + label:before {
  margin-right: 10px;
  content: '⬜️';
}
.plates input:checked + label:before {
  content: '🌮';
}

.add-items {
  margin-top: 20px;
}
.add-items input {
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  outline: 0;
}
