html {
  color: #000;
  font-family: sans-serif;
}

body {
  margin: 0;
}

h1 {
  font-style: 100px;
  text-shadow: 10px 10px 0 rgba(0, 0, 0, 1);
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  color: #000;
}
